.cart_preview{
  position: absolute;
  top: 80px;
  right: 250px;
  min-height: 100px;
  min-width: 200px;
  padding: 1rem;
  font-size: .8rem;
}
.cart_preview_hidden{
  @extend .cart_preview;
  visibility: hidden;
}
